body {
  touch-action: manipulation;
}

@font-face {
  font-family: 'GTPressuraMono';
  src: url('fonts/GT-Pressura-Mono.woff2') format('woff2'),
       url('fonts/GT-Pressura-Mono.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTPressura';
  src: url('fonts/GT-Pressura.woff2') format('woff2'),
       url('fonts/GT-Pressura.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-family: "GTPressuraMono";
  color: white;
  -webkit-font-smoothing: antialiased;
}

body {
  background: hsl(215, 25%, 15%);
  margin: auto;
  padding: 2em;
}

*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  color: hsl(48, 100%, 60%);
  text-align: center;
  line-height: 1;
  font-family: "GTPressura";
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
}

h2,
.buttonGroup {
  width: 186px;
  margin: auto;
}

h2 {
  margin-top: 1em;
  font-weight: 400;
  font-size: 20px;
}

button {
  border: none;
  -webkit-appearance: none;
  width: 88px;
  height: 44px;
  line-height: 48px;
  background: hsl(215, 25%, 25%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.1);
}

button .icon {
  vertical-align: text-bottom;
}

button:active {
  background: hsl(215, 25%, 10%);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5), inset 0 4px 16px rgba(0, 0, 0, 0.5);
}

.buttonGroup:before,
.buttonGroup:after {
  display: table;
  content: "";
  clear: both;
}

.buttonGroup button {
  float: left;
}

.buttonGroup button + button {
  margin-left: 10px;
}
